/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Changes Below */

/* CSS HEX */
:root {
--antique-brass: #b98b73ff;
--antique-brass-2: #cb997eff;
--desert-sand: #ddbea9ff;
--champagne-pink: #ffe8d6ff;
--bone: #d4c7b0ff;
--ash-gray: #b7b7a4ff;
--artichoke: #a5a58dff;
--ebony: #6b705cff;
--black-olive: #3f4238ff;
}

body {
    background-color: #ffe8d6;
}

#nav-title {
    font-family: 'Courgette', cursive;
    font-weight: 100;
    color: var(--black-olive);
}

.nav .nav-link {
    color: var(--ebony);
}

.nav .nav-link.active {
    background-color: var(--black-olive);
}

.nav .nav-link:hover {
    color: var(--black-olive);
}

.main-section {
    background: var(--black-olive);
}

#intro-container img {
    width: 42%;
    height: 42%;
    border: 1px solid var(--desert-sand);
}

#intro-container h1 {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 3.5rem;
    color: var(--desert-sand);
}

#intro-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
    color: var(--bone);
}

.section-light h1 {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 3.5rem;
    color: var(--ebony);
}

.section-light p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
    color: var(--artichoke);
}

.section-light img {
    border: 1px solid var(--black-olive);
}